
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Open sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #818181;
    letter-spacing: 1px;
}

.container {
    padding: 1em;
    background-color: #c5c5c5;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgb(102, 102, 102);
}

.calc {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 0.6em;
}

.input {
    grid-column: 1 / -1;
    padding: 0.3em;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #ececec;
}

.span-2 {
    grid-column: span 2;
}

button {
    font-size: 1.5rem;
    padding: 0.5em 1em;
    cursor: pointer;
}